/* Estilos para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px; /* Ajuste o espaçamento interno */
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    text-transform: uppercase;
}

/* Estilo para as linhas alternadas */
tr:nth-child(even) {
    background-color: #f9f9f9; /* Cor de fundo para linhas pares */
}

tr:hover {
    background-color: #f2f2f2; /* Cor de fundo ao passar o mouse */
}

/* Estilos para o botão */


/* Estilos para o link de voltar */
a {
    display: inline-block;
    margin-top: 8px;
    color: #007BFF;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

/* Estilizando o dropdown */
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>');
    background-repeat: no-repeat;
    background-position: right 8px center;
}

/* Estilo para quando o dropdown está desabilitado */
select:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Estilo para quando o dropdown está focado */
select:focus {
    outline: none;
    box-shadow: 0 0 0 2px #007BFF;
}

/* Estilo para o botão de saída desabilitado */
button[disabled] {
    background-color: #999;
    color: #fff;
}

/* Estilizando os títulos em maiúsculo */
h1, h2 {
    color: #333;
    text-align: center; /* Alinha o texto ao centro */
    margin: 20px 0;
    text-transform: uppercase;
}

th {
    text-transform: uppercase;
}

/* Ajuste para alinhar itens centralmente nas colunas específicas */
td:nth-child(3), /* Coluna de Data */
td:nth-child(4), /* Coluna de Hora Entrada */
td:nth-child(6), /* Coluna de Hora Saída */
td:nth-child(7) { /* Coluna de Saída */
    text-align: center;
}

.marca-dagua {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
}

/* Estilo para a parte superior da página */
.header-info {
    display: flex;
    justify-content: center; /* Centraliza os itens na horizontal */
    align-items: center; /* Centraliza os itens na vertical */
    margin-bottom: 20px;
}

.header-info p {
    margin: 0;
    padding: 0 10px; /* Adiciona um espaço entre os itens */
}
/* Estilos para o botão de impressão */
/* Estilos para o botão de impressão */
.print-button-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-top: 40px; /* Espaçamento superior */
}

button {
    /* Estilos para o botão */
    padding: 10px 20px;
    border: 0;
    border-radius: 4px;
    background-color: #208520;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

button:hover {
    background-color: #186f18;
}
